<h1><%= project.name %></h1>

<%- if defined? show_column_toggles -%>
<div id="column-toggles">
  <%= link_to t('panels.done'), '#', :class => 'hide_done' %>
  <%= link_to t('panels.in_progress'), '#', :class => 'hide_in_progress' %>
  <%= link_to t('panels.backlog'), '#', :class => 'hide_backlog' %>
  <%= link_to t('panels.chilly_bin'), '#', :class => 'hide_chilly_bin' %>
</div>
<%- end -%>

<%= link_to_unless_current Story.model_name.human.pluralize, project_path(project) %> |
<%= link_to_unless_current User.model_name.human.pluralize, project_users_path(project) %> |
<%= link_to_unless_current t('actions.edit'), edit_project_path(project) %> |
<%= link_to_unless_current t('actions.import'), import_project_stories_path(project) %> |
<%= link_to t('actions.export'), project_stories_path(project, :format => :csv) %>
